.main-wall {
  background-color: $fogColor;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main.image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  max-width: 1600px;
  margin: 0 auto;

  &__title {
    padding: 180px 252px 0px;
    text-transform: uppercase;
    text-align: center;
  }
  &__button {
    padding: 40px 0px 210px;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: $snowColor;
  color: $nightColor;
  display: block;
  border: none;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $skyColor;
    color: $primaryColor;
    transition: $typicalTransition;
    cursor: pointer;
  }
  &__label {
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;

    &--shadow:hover {
      box-shadow: $typicalShade;
      transition: $typicalTransition;
    }
  }
}
