.icon {
  border: 1px solid $lateColor;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $skyColor;
    cursor: pointer;
    transition: $typicalTransition;
  }
  &__type {
    width: 170px;
    height: 92px;
    padding-right: 10px;
    fill: $lateColor;

    &:hover,
    &:focus {
      fill: $skyColor;
      transition: $typicalTransition;
    }
  }
  &__place {
    padding: 18px 38px;
  }
}
