$primaryColor: #ffffff;
$nightColor: #212121;
$fogColor: #2f303a;
$skyColor: #2196f3;
$snowColor: #f5f4fa;
$cloudColor: #757575;
$secondaryColor: #000000;
$borderColor: #eeeeee;
$lateColor: #afb1b8;
$pixel: 14px;
